{% extends "base.html" %}
{% block title %}
	UPDATE {{id}}
{% endblock %}
{% block content %}
	<table>
		<caption>Actualizando</caption>
		<thead>
			<tr>
				<th>Usuario</th>
				<th>Actualizar</th>
			</tr>
		</thead>

			
				{% for elemento in lista  %}
					{% if elemento.id == id   %}
						<form method="post">
							<tr>
								<td><input name="usuario" type="text" value="{{ elemento.usuario }}" size="17"> </td>
								<td><input name"boton-nuevo" type="submit" value="UPDATE"></td>
							</tr>
						</form>
					{% endif %}
				{% endfor %}

			

	</table>
{% endblock %}
